body {
  margin: 0;
}

#frontBackground{
    width: 100%;
}

#main {
  border: 0px solid;
  position: absolute;
  top: 0;
  width: 79%;
  left: 11%;
}

#top {
  color: white;
}

#top > div {
  display: flex;
  justify-content: space-between;
  border: 0px solid;
  margin-top: 40px;
}

#top img {
  border: 0px solid;
  width: 80%;
}

#logoImage {
  border: 0px solid;
  display: grid;
  align-items: center;
}

#categories {
  display: flex;
  border: 0px solid;
  width: 35%;
  justify-content: space-between;
}

#categories p{
    font-weight: 600;
    font-size: small;
    cursor: pointer;
}

h1 {
  border: 1px solid;
  width: 49%;
  padding: 3.5%;
  font-size: 55px;
  font-weight: 300;
  margin-top: 85px;
}

.headFont {
  font-family: "Fraunces", serif;
  font-family: "Josefin Sans", sans-serif;
}

/* --------------------------------------------------------- */

#middle{
    border: 0px solid;
    margin-top: 250px;
}
#middle img{
    width: 65%;
}
#vr{
    border: 0px solid;
    width: 350px;
    padding: 60px;
    position: absolute;
    translate: 93% -77%;
    background-color: white;
}
h2{
  font-size:xx-large;
  letter-spacing: .1rem;
}
#vr>p{
  line-height: 1.3;
}

/* ----------------------------------------------------------------- */
#creation{
  border: 0px solid;
  margin-top: 130px;
  display: flex;
  justify-content: space-between;
}
h5{
  border: 1px solid;
  padding: 15px 30px;
  letter-spacing: .2rem;
}



